#alert-container {
  position: fixed;
  bottom: 0px;
  right: 20px;
  z-index: 1050;
}
#alert-container .desk-alert {
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 40px 10px 20px;
  max-width: 400px;
  min-width: 200px;
  max-height: 200px;
  background-color: #fffce7;
  border: 1px solid #d1d8dd;
  overflow-y: auto;
  position: relative;
}
#alert-container .desk-alert .close {
  color: inherit;
  line-height: inherit;
  opacity: 1;
  font-size: inherit;
  float: none;
  margin-left: 15px;
  margin-right: 15px;
  position: absolute;
  right: 0px;
}