{% extends "templates/web.html" %}
{% block page_content %}
<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <a class="btn btn-block btn-primary" data-toggle ="collapse" data-target="#newthread">New</a>
    </div>
  </div>
  <div class="col-md-10">
    <div class="form-group">
      <div class="input-group">
        <input type="text" placeholder="Search forums" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Search</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row collapse" id="newthread">
  <div class="col-md-12">
    <div class="form">
        <div class="form-group">
              <input id="new-thread-title" class="form-control" type="text" placeholder="Enter Title text for thread...">
        </div>
        <div class="form-group">
              <input id="new-thread-categories" class="form-control" type="text" placeholder="Enter Categories (Tags)">
        </div>
        <div class="form-group text-right">
          <ul class="list-inline">
            <li>
              <a class="btn btn-default" id="create-thread" data-role="save-thread" data-thread-key="btnsave">Save</a>
            </li>
            <li>
              <a class="btn btn-default" id="cancel-thread" data-toggle ="collapse" data-target="#newthread">Cancel</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div> 
<div class="row">
  <div class="col-md-10 hidden-sm hidden-xs">Threads</div>
  <div class="col-md-1 hidden-sm hidden-xs">Replies</div>
  <div class="col-md-1 hidden-sm hidden-xs">Activity</div>
</div>
<hr>

{% macro render_thread(thread, rowindex) %}
    <div class="row">
      <div class="col-md-10">
        <!-- <h4>{{ thread.thread_title }}</h4> -->
        <div class="form-group">
          <span id="{{thread.name}}-text">{{thread.thread_title}}</span>
        </div>
        <div class="form-group">
          <input id="{{thread.name}}-input-text" value="{{thread.thread_title}}" class="form-control hide"/>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <div class="label label-info">FIPS</div>
          </li>
          <li class="list-inline-item">
            <div class="label label-info">FIPS 140</div>
          </li>
        </ul>
      </div>
      <div class="col-md-1 col-xs-6">
        <div class="hidden-md hidden-lg">
          <strong>Replies</strong>
        </div>
        <div>{{ thread.post_count }}</div>
      </div>
      <div class="col-md-1 col-xs-6 text-right">
        <div class="hidden-md hidden-lg">
          <strong>Activity</strong>
        </div>
        <div>{{ "3H" }}</div>
      </div>
    </div>
    <div class="col-xs-12 text-right">
      <div id="{{thread.name}}-buttons" class="btn-group btn-group-xs">
        <!-- display:none, because jquery.toggle is used to show/hide elements. -->
        {% if session_user_type != "Website User" %}
        <button id="{{thread.name}}-edit-thread" class="btn" style="display:block" data-thread-key="{{thread.name}}">
          <i class="octicon octicon-pencil"></i>
        </button>
        {% endif %}
        <button id="{{thread.name}}-save-edit-thread" class="btn btn-success hide" data-thread-key="{{thread.name}}">
          <i class="octicon octicon-check"></i>Save
        </button>
        <button id="{{thread.name}}-cancel-edit-thread" class="btn hide" data-thread-key="{{thread.name}}">
          <i class="octicon octicon-x"></i>Cancel
        </button>
      </div>
    </div>
        
{% endmacro %}

<div id="threads-parent">
  <div id="threads">
    {% set threadindex = 0 %}
    {% for thread in threads %}
        {% set threadindex = threadindex + 1 %}
        {{ render_thread(thread, threadindex) }}
    {% endfor %}
    {% if not threads %}
      <br>
      <div class="text-center text-muted">
        <h4>No Threads have been added yet.</h4>
        <i class="mega-octicon octicon-telescope"></i>
      </div>
    {% endif %}
  </div>
</div>



<script type="text/javascript">
  frappe.ready(function(){

    function wireup_datepickers() {
      $("[data-fieldtype='Date']").each(function() {
        mnt.init_datepicker($(this));
      });
    }

    wireup_datepickers();

    function toggle_buttons_edit_thread(threadname, editmode) {
      var btn_edit_thread = $('#' + threadname + '-edit-thread');
      var btn_save_thread = $('#' + threadname + '-save-edit-thread');
      var btn_cancel_edit_thread = $('#' + threadname + '-cancel-edit-thread');

      if(editmode == 1) {
        btn_edit_thread.addClass('hide');
        btn_save_thread.removeClass('hide'); 
        btn_cancel_edit_thread.removeClass('hide');
      } 
      else {
        btn_edit_thread.removeClass('hide');
        btn_save_thread.addClass('hide'); 
        btn_cancel_edit_thread.addClass('hide');
      }
    }
      
    $('#create-thread').click(function(event){
        var title = $('#new-thread-title');
        var categories = $('#new-thread-categories');
        frappe.call({
          method: "discuit.www.threads.create_thread",
          args: {
              "thread_title": title.val(),
              "thread_categories": categories.val()
          },
          freeze: true,
          freeze_message: __("Creating thread..."),
          callback: function(r){
            if(!r.exc) {
              $('#newthread').removeClass('in'); //to collapse container.collapse();
              mnt.refresh_page_element('#threads-parent #threads', 1, function() {
                wireup_datepickers();
              });
              mnt.show_alert(__("New thread " + title + " added."), 5)
            } else {
              frappe.msgprint(__("Thread was not created. <br /> " + r.exc));
            }
          }
        });
      });


    //edit thread
    $('#threads-parent').on('click', '[id$="edit-thread"]', function() {
      var threadname = $(this).attr('data-thread-key'); //Get context of Thread.

      //frappe.msgprint(threadname);
      var input_title = $('#' + threadname + '-text');
      var input_categories = $('#' + threadname + '-input-text');
      
      input_title.removeClass("hide");
      input_categories.parent().removeClass('hide')

      //Set values in Selectize input from labels.
      // label_categories = [];
      // $('div[id="' + threadname + '-categories"] span').each(function () {
      //   var slug = $(this).attr('data-slug');
      //   label_categories.push(slug);
      // });

      // get_categories_and_init_selectize('#' + input_thread_categories.attr("id"), false, label_categories);
      // //input_thread_categories[0].selectize.unlock();

      // //input_thread_categories[0].selectize.setValue(value_selectize);

      input_categories.parent().removeClass('hide');
       
      toggle_buttons_edit_thread(threadname, 1);

    });

    // Cancel edited thread
    $('#threads-parent').on('click', '[id$="cancel-edit-thread"]', function() {
      var threadname = $(this).attr('data-thread-key'); 
      var input_title = $('#' + threadname + '-text');
      var input_categories = $('#' + threadname + '-input-text');
      input_title.val('');
      input_title.addClass('hide');
      input_categories.val('');
      input_categories.parent().addClass('hide');
      toggle_buttons_edit_thread(threadname, 0);
    });

    // Save edited thread
    $('#threads').on('click', '[data-role="save-edit-thread"]', function() {
      var threadname = $(this).attr('data-thread-key'); //Get context of Thread.
      var input_title = $('#' + threadname + '-text');
      var input_categories = $('#' + threadname + '-input-text');

      frappe.call({
        method: "discuit.www.threads.update_thread",
        args: {
            "thread_title": input_title.val(),
            "thread_categories": input_categories.val()
        },
        freeze: true,
        freeze_message: __("Updatating thread..."),
        callback: function(r){
          if(!r.exc) { 
            input_title.addClass('hide');
            input_categories.addClass('hide');
            toggle_buttons_edit_thread(threadname, 0);
          
            //refresh_threads();
            mnt.refresh_page_element('#threads #' + threadname + '-text');
            mnt.refresh_page_element('#threads #' + threadname + '-input-text');
            //location.reload();
          } 
          else {
            frappe.msgprint(__("Thread was not update. <br /> " + r.exc));
          }
        }
      }); 
    });
  });

</script>
{% endblock %}