{% extends "templates/web.html" %}
<!-- {% block style %}
     <style>
      @media all and (max-width:480px) {
        .btn-block-xs-only { width: 100%; display:block; }
      }

     </style>
{% endblock %}
{% block base_scripts %}
<script type="text/javascript"
    src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
  <script type="text/javascript"
    src="/assets/frappe/js/lib/jquery/jquery-ui.min.js"></script>
  <script type="text/javascript"
    src="/assets/js/frappe-web.min.js"></script>
{% endblock %} -->
{% block page_content %}
<div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <button id="open-new-thread" class="btn btn-primary btn-block-xs-only" data-toggle ="collapse" data-target="#newthread">New Thread</button>
      </div>
    </div>
    <div class="col-md-10">
      <div class="form-group">
        <div class="input-group">
          <input id="filters-selectize" type="text" placeholder="Search forums" class="form-control">
          <span class="input-group-btn">
            <button id="filter-threads" class="btn btn-default" type="button">Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="padding"></div>
    <div class="row collapse" id="newthread">
      <div class="col-md-12">
        <div class="form">
            <div class="form-group">
                  <input id="new-thread-title" class="form-control" type="text" placeholder="Enter Title text for thread...">
            </div>
            <div class="form-group">
                  <input id="new-thread-categories" class="form-control" type="text" placeholder="Enter Categories (Tags)">
            </div>
            <div class="form-group text-right">
              <div class="btn-group btn-group-xs">
                <button id="create-thread" class="btn btn-primary">Save</button>
                <button id="cancel-thread" data-toggle="collapse" data-target="#newthread" class="btn btn-danger">Cancel</button>
              </div>
            </div>
        </div>
      </div>
    </div> 
</div>
<div class="row">
  <div class="col-md-11 hidden-sm hidden-xs">Threads</div>
  <div class="col-md-1 hidden-sm hidden-xs">Replies</div>
</div>
<hr>
<!-- {% macro render_post(threadname, post, rowindex) %}
  <div class="row">
    <div class="col-md-1 col-xs-6 text-right">
      <div>{{ post.pst_posted_on }}</div>
    </div>
  </div>
{% endmacro %} -->
{% macro render_thread(thread, rowindex) %}
  <!-- <div id="{{thread.name}}-panel" class="panel panel-default">
    <div id="{{thread.name}}-panel-heading" class="panel-heading" data-thread-key="{{thread.name}}"> -->
  <div class="row">
    <div class="col-md-11">
      <!-- <h4>{{ thread.thread_title }}</h4> -->
      <div class="form-group">
        <span id="{{thread.name}}-text">{{thread.thread_title}}</span>
        <a id="{{thread.name}}-edit-thread" data-thread-key="{{thread.name}}"><i class="icon icon-pencil" style="text-decoration:none;"></i></a>
      </div>
      <div class="form-group">
        <input id="{{thread.name}}-input-text" value="{{thread.thread_title}}" class="form-control hide"/>
      </div>
      <div>
        <input id="{{thread.name}}-input-categories" value="{{thread.thread_category}}" class="form-control hide"/>
      </div>
      <div>
        <span class="text-muted">Last Activity :</span>{{ thread.last_post_on }}
      </div>
      <ul class="list-inline">
        <li class="list-inline-item">
          <div id="{{thread.name}}-categories">
            {% for category in thread.thread_category.split('+') %}
              {% if category  %}
                  <span data-slug="{{category}}" class="label label-info">
                 <!--  {{ frappe.db.get_value('Forum Category',filters={'category_slug': category},fieldname = 'category_name') }} -->
                 {{  category }}
                  </span> &nbsp;
              {% endif %}
            {% endfor %}
          </div>
        </li>
      </ul>
      <!-- <div class="hide">
        <input id="{{thread.name}}-input-categories" value="{{thread.thread_category}}" class="form-control hide"/>
      </div> -->
        <!-- <ul class="list-inline">
          <li class="list-inline-item">
            <div>
              {% for category in thread.thread_category.split('+') %}
                {% if category  %}
                    <span class="label label-info">
                    {{ frappe.db.get_value('Forum Category',filters={'category_slug': category},fieldname = 'category_name') }}
                    </span> &nbsp;
                {% endif %}
              {% endfor %}
            </div>
          </li>
        </ul> -->
    </div>
    <div class="col-md-1 col-xs-12">
      <span class="text-muted">{{ thread.post_count }}</span><span class="text-muted hidden-lg hidden-md">&nbsp;replies</span>
    </div>
  </div>

  <div class="row">
  <!--   <div class="col-xs-10">
      <div>
        <input id="{{thread.name}}-input-categories" value="{{thread.thread_category}}" class="form-control hide"/>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item">
          <div id="{{thread.name}}-categories">
            {% for category in thread.thread_category.split('+') %}
              {% if category  %}
                  <span data-slug="{{category}}" class="label label-info">
                  {{ frappe.db.get_value('Forum Category',filters={'category_slug': category},fieldname = 'category_name') }}
                 {{  category }}
                  </span> &nbsp;
              {% endif %}
            {% endfor %}
          </div>
        </li>
      </ul>
    </div> -->
    <div class="col-xs-2">
      <div id="{{thread.name}}-buttons" class="btn-group btn-group-xs">
        <!-- display:none, because jquery.toggle is used to show/hide elements. -->
        <!-- {% if session_user_type != "Website User" %}
        <button id="{{thread.name}}-edit-thread" data-thread-key="{{thread.name}}">
          <i class="octicon octicon-pencil"></i>
        </button>
        {% endif %} -->
        <button id="{{thread.name}}-save-edit-thread" class="btn btn-success hide" data-thread-key="{{thread.name}}">
          <i class="octicon octicon-check"></i>Save
        </button>
        <button id="{{thread.name}}-cancel-edit-thread" class="btn hide" data-thread-key="{{thread.name}}">
          <i class="octicon octicon-x"></i>Cancel
        </button>
      </div>
    </div>
  </div>
<!--     </div>
</div> -->
{% endmacro %}

<div id="threads-parent">
  <div id="threads">
    {% set threadindex = 0 %}
    {% for thread in threads %}
        {% set threadindex = threadindex + 1 %}
        {{ render_thread(thread, threadindex) }}
    {% endfor %}
    {% if not threads %}
      <br>
      <div class="text-center text-muted">
        <h4>No Threads have been added yet.</h4>
        <i class="mega-octicon octicon-telescope"></i>
      </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  frappe.ready(function(){

    function wireup_datepickers() {
      $("[data-fieldtype='Date']").each(function() {
        mnt.init_datepicker($(this));
      });
    }

    wireup_datepickers();

    function get_categories_and_init_selectize(inputcontrolname, locked=false, init_value=null) {
      frappe.call({
        method: "discuit.www.threads.get_thread_categories",
        callback: function(r){
          if(!r.exc) {
            s = $(inputcontrolname).selectize({
              plugins: ['remove_button'],
              delimiter: '+',
              persist: false,
              create: false,
              options: r.message
            });

            if (locked) { s[0].selectize.lock(); }

            if (init_value) { s[0].selectize.setValue(init_value) }

          } else {
            frappe.msgprint(__("Categories could not be fetched.<br /> " + r.exc));
          }
        }
      });
    }

    // $('.page_content').on('click', '#open-new-thread', function() {
    //    get_categories_and_init_selectize('#new-thread-categories');
    // });
    // categories_from_url = mnt.get_url_param('categories');
    // get_categories_and_init_selectize('#filters-selectize', false, categories_from_url);


    function toggle_buttons_edit_thread(threadname, editmode) {
      
      var btn_save_thread = $('#' + threadname + '-save-edit-thread');
      var btn_cancel_edit_thread = $('#' + threadname + '-cancel-edit-thread');


      if(editmode == 1) {
    
        btn_save_thread.removeClass('hide'); 
        btn_cancel_edit_thread.removeClass('hide');
      } 
      else {
       
        btn_save_thread.addClass('hide'); 
        btn_cancel_edit_thread.addClass('hide');
      }
    }
      
    $('#create-thread').click(function(event){
        var title = $('#new-thread-title');
        var categories = $('#new-thread-categories');
        frappe.call({
          method: "discuit.www.threads.create_thread",
          args: {
              "thread_title": title.val(),
              "thread_category": categories.val()
          },
          freeze: true,
          freeze_message: __("Creating thread..."),
          callback: function(r){
            if(!r.exc) {
              $('#newthread').removeClass('in'); //to collapse container.collapse();
              mnt.refresh_page_element('#threads-parent #threads', 1, function() {
                // wireup_datepickers();
              });
              mnt.show_alert(__("New thread " + title + " added."), 5)
            } else {
              frappe.msgprint(__("Thread was not created. <br /> " + r.exc));
            }
          }
        });
      });


    //edit thread
    $('#threads-parent').on('click', '[id$="edit-thread"]', function() {
      var threadname = $(this).attr('data-thread-key'); //Get context of Thread.
      var span_thread_text = $('#' + threadname + '-text');
      //frappe.msgprint(threadname);
      var input_title = $('#' + threadname + '-input-text');
      var input_categories = $('#' + threadname + '-input-categories');
      var div_thread_categories = $('#' + threadname + '-categories');
      var edit_thread = $('#' + threadname + '-edit-thread');
      
      span_thread_text.addClass("hide");
      input_title.removeClass("hide");
      div_thread_categories.addClass("hide");
      input_categories.removeClass('hide');
      edit_thread.addClass('hide');

      //Set values in Selectize input from labels.
      label_categories = [];
      $('div[id="' + threadname + '-input-categories"]').each(function () {
        var slug = $(this).attr('data-slug');
        label_categories.push(slug);
      });

      // get_categories_and_init_selectize('#' + input_categories.attr("id"), false, label_categories);
      //input_thread_categories[0].selectize.unlock();

      //input_thread_categories[0].selectize.setValue(value_selectize);


      // input_categories.parent().removeClass('hide');
      toggle_buttons_edit_thread(threadname, 1);

    });

    // Cancel edited thread
    $('#threads-parent').on('click', '[id$="cancel-edit-thread"]', function() {
      var threadname = $(this).attr('data-thread-key'); 
      var span_thread_text = $('#' + threadname + '-text');
      var input_title = $('#' + threadname + '-input-text');
      var input_categories = $('#' + threadname + '-input-categories');
      var div_thread_categories = $('#' + threadname + '-categories');
      var edit_thread = $('#' + threadname + '-edit-thread');


      span_thread_text.removeClass('hide');
      input_title.addClass('hide');
      input_categories.addClass('hide');
      div_thread_categories.removeClass('hide');
      edit_thread.removeClass('hide');
      // input_title.val('');
      // input_categories.val('');
      toggle_buttons_edit_thread(threadname, 0);
    });

    // Save edited thread
    $('#threads-parent').on('click', '[id$="save-edit-thread"]', function() {
      var threadname = $(this).attr('data-thread-key'); //Get context of Thread.
      var span_thread_text = $('#' + threadname + '-text');
      var input_title = $('#' + threadname + '-input-text');
      var input_categories = $('#' + threadname + '-input-categories');
      var div_thread_categories = $('#' + threadname + '-categories');
      var edit_thread = $('#' + threadname + '-edit-thread');

      frappe.call({
        method: "discuit.www.threads.update_thread",
        args: {
            "thread_id": threadname,
            "thread_title": input_title.val(),
            "thread_category": input_categories.val()
        },
        freeze: true,
        freeze_message: __("Updatating thread..."),
        callback: function(r){
          if(!r.exc) { 
            span_thread_text.removeClass('hide');
            input_title.addClass('hide');
            input_categories.addClass('hide');
            div_thread_categories.removeClass('hide');
            edit_thread.removeClass('hide');

            toggle_buttons_edit_thread(threadname, 0);
          
            //refresh_threads();
           
            mnt.refresh_page_element('#threads #' + threadname + '-text',0);
            // mnt.refresh_page_element('#threads #' + threadname + '-edit-thread',0);
            mnt.refresh_page_element('#threads #' + threadname + '-categories',0);
            //location.reload();
          } 
          else {
            frappe.msgprint(__("Thread was not update. <br /> " + r.exc));
          }
        }
      }); 
    });
  });

</script>
{% endblock %}